<h1>Deployments</h1>

<% @deployments.each do |deployment| %>
  <table>
    <tr>
      <td><b><%= deployment.name %></b></td>
    </tr>
    <tr>
      <table>
        <% deployment.servers.each do |server| %>
          <tr>
            <td><%= server.name %></td>
            <td><%= server.private_ip %></td>
          </tr>
        <% end %>
      </table>
    </tr>
  </table>
<% end %>
